body{
    margin: 0;
    padding: 0;
}

/* header nav begin */
.left-side{
    background-color: #076490;
    color: white;
    width: 20%;
    float: left;
    height: 60px;
    position: relative;
}

label.logo{
    position: absolute;
    font-size: 25px;
    line-height: 60px;
    margin-left: 90px; 
}

.home-icon{
    position: absolute;
    vertical-align: middle;
    line-height: 65px;
    margin-left: 45px;
    margin-top: 5px;
    
}

.left-side:hover{
    background-color: lightgray;
    color: black;
}

.right-side{
    background-color: #199de5;
    width: 80%;
    float: right;
    height: 60px; 
   
}

.map-icon,
.person-icon,
.message-icon{
    display: inline-block;
    margin-top: 0;
    padding: 20px;
   
}

.map-icon:hover{
    background-color: white;
}

.person-icon:hover{
    background-color: white;
}

.message-icon:hover{
    background-color: white;
}







.profile-section{
    border:solid 2px transparent;
    /* width: 20%; */
    margin-left: 12px;
    box-shadow: 1px 1px 5px;
    padding-bottom: 10px;
    
}
.profile-section
 h4{
    text-align: center;
    font-size: 20px;
}
.maratspic {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.maratspic img{
    border-radius: 50%;
}
hr{
    width: 70%;
    color: transparent;
    
 
}
.profile-text {
    padding-left: 60px;
    display: flex;
    text-align: left;
    width: 100%;
    position: relative;


}
.icons{
    padding-left: 10px;
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 20%;
    vertical-align: middle;
}

/* my groups section*/
.my-groups-section a,
.my-events-section a{
    text-decoration: none;
}
.my-groups-section {
 
 
    height: 200%;
    margin-left: 12px;
    box-shadow: 1px 1px 5px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.group {
   border: solid 0px;
  background-color: #199de5;
  padding: 17px;
  padding-left: 4%;

}
.group .circle-logo{
    display: inline;
    width: 1%;

    vertical-align: middle;
    
}
.group h5{
display: inline;
color: white;
margin-left: 10px;
font-size: 15px;

}
.group:hover{
    background-color: rgb(114, 114, 243);
}
.my-groups-section p{
    padding-left: 20px;
    font-size: 20px;
}
/* my events section */
.events:hover{
    background-color: rgb(114, 114, 243);
}
.my-events-section{
    
   
    height: 200%;
    margin-left: 12px;
    box-shadow: 1px 1px 5px;
    padding-bottom: 10px;
    margin-top: 0px;
    
}
.events{

    border: solid 1px transparent;
    background-color: #199de5;
    padding: 17px;
    padding-left: 4%;
}
.events .calendar-logo{
    display: inline;
    width: 1%;

    vertical-align: middle;
}
.events h5{
    display: inline;
color: white;
margin-left: 10px;
font-size: 15px;
}
.my-events-section p{
    padding-left: 20px;
    font-size: 15px;
}
/*  interests section*/

.interests-section{
    border:solid 2px transparent;
 
    margin-left: 12px;
    box-shadow: 1px 1px 5px;
    padding-bottom: 10px;

}

ul .blue {
    background-color: #076490;
    color: white;
    padding: 3px;
    border-style: none;
    width: 10%;
}

ul .skyblue{
    background-color: #199de5;
    color: white;
    padding: 3px;
    border-style: none;
}

ul .gray{
    background-color: rgb(194, 182, 182);
    color: black;
    border-style: none;
}

ul .grayish{
    background-color: rgb(225, 217, 217);
    color: black;
    border-style: none;
}

ul .light-gray{
    background-color: rgb(242, 239, 239);
    color: black;
    border-style: none;
}

/* Alert msg */
.alert-msg{
    border:solid 1px rgb(179, 179, 179);
   
    margin-left: 12px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: left;
    padding: 0 10px;
    background-color: #dfe5e8;
    border-radius: 5px;
    position: relative;
}
#hey{
    color:rgb(61, 61, 61);
    font-size: large;
}
.fas{
    color:black;
    border: none;
    font-size: 15px;
}
.close{
    background-color: #becbd2 ;
    position: absolute;
    right:0;
    top:0;
    padding: 9px 15px;
}
.close:hover{
    background-color: lightgrey;

}

/* Middle Section */
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px ;
    align-items: flex-start;

}
.left, .right, .middle{
    /* margin: 35px;
    padding: 35px; */
    border: solid 1px;
}
.left, .right, .middle{
    flex-direction: column;
    justify-content: space-between;
}
.left{
    width: 20%;

}
.right{
    width: 15%;
}
.middle{
    width: 60%;
    background-color: navajowhite;
    
}
.first-post{
    flex-direction: column;
    padding:15px;
}

.friend-post img{
    flex-direction: row;
    border-radius:50% ;
    width: 60px;
}
.friend-post{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    flex-direction: row;
    /* padding: 12px; */
   
}
.time{
    margin-left: auto;
    color: #113311;
}
.friend-post h4{
   padding: 0px 15px;
}
.first-post hr{
    width: 99%;
    color: transparent;
}
.post-pic{
    display: inherit;
    flex-direction: row;
    
}
.left-pic img, .right-pic img{
    width: 28%;
}