body{
    margin: 0;
    padding: 0;
}

/* header nav begin */

#home-icon{
    background-color: #076490;
    width: 20%;
    color: white;
    float: left;
    height: 110px;
}
#home-icon:hover{
    background-color: gray;
    color: black;
}

#home-icon ul{
    display: inline;
}

nav{
    background-color: #199de5;
    width: 80%;
    float: right;
    height: 110px;
}
li{
    list-style-type: none;
    display: inline;
}

ul li:hover{
    background-color: gray;
    color: black;
}





.profile-section{
    border:solid 2px transparent;
    width: 20%;
    margin-left: 12px;
    box-shadow: 1px 1px 5px;
    padding-bottom: 10px;
    
}
.profile-section
 h4{
    text-align: center;
    font-size: 20px;
}
.maratspic {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.maratspic img{
    border-radius: 50%;
}
hr{
    width: 70%;
    color: transparent;
    
 
}
.profile-text {
    padding-left: 60px;
    display: flex;
    text-align: left;
    width: 100%;
    position: relative;


}
.icons{
    padding-left: 10px;
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 20%;
    vertical-align: middle;
}

/*  interests section*/

.interests-section{
    border:solid 2px transparent;
    width: 20%;
    margin-left: 12px;
    box-shadow: 1px 1px 5px;
    padding-bottom: 10px;

}

ul .blue {
    background-color: #076490;
    color: white;
    padding: 3px;
    border-style: none;
    width: 10%;
}

ul .skyblue{
    background-color: #199de5;
    color: white;
    padding: 3px;
    border-style: none;
}

ul .gray{
    background-color: rgb(194, 182, 182);
    color: black;
    border-style: none;
}

ul .grayish{
    background-color: rgb(225, 217, 217);
    color: black;
    border-style: none;
}

ul .light-gray{
    background-color: rgb(242, 239, 239);
    color: black;
    border-style: none;
}
