body{
    margin: 0;
    padding: 0;
}

/* header nav begin */

#home-icon{
    background-color: #076490;
    width: 20%;
    color: white;
    float: left;
    height: 110px;
}
#home-icon:hover{
    background-color: gray;
    color: black;
}

#home-icon ul{
    display: inline;
}

nav{
    background-color: #199de5;
    width: 80%;
    float: right;
    height: 110px;
}
li{
    list-style-type: none;
    display: inline;
}

ul li:hover{
    background-color: gray;
    color: black;
}





.profile-section{
    border:solid 2px transparent;
    width: 20%;
    margin-left: 12px;
    box-shadow: 1px 1px 5px;
    padding-bottom: 10px;
    
}
.profile-section
 h4{
    text-align: center;
    font-size: 20px;
}
.maratspic {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.maratspic img{
    border-radius: 50%;
}
hr{
    width: 70%;
    color: transparent;
    
 
}
.profile-text {
    padding-left: 60px;
    display: flex;
    text-align: left;
    width: 100%;
    position: relative;


}
.icons{
    padding-left: 10px;
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 20%;
    vertical-align: middle;
}

/* my groups section*/
.my-groups-section a,
.my-events-section a{
    text-decoration: none;
}
.my-groups-section {
 
    width: 20%;
    height: 200%;
    margin-left: 12px;
    box-shadow: 1px 1px 5px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.group {
   border: solid 0px;
  background-color: #199de5;
  padding: 17px;
  padding-left: 4%;

}
.group .circle-logo{
    display: inline;
    width: 1%;

    vertical-align: middle;
    
}
.group h5{
display: inline;
color: white;
margin-left: 10px;
font-size: 15px;

}
.group:hover{
    background-color: rgb(114, 114, 243);
}
.my-groups-section p{
    padding-left: 20px;
    font-size: 20px;
}
/* my events section */
.events:hover{
    background-color: rgb(114, 114, 243);
}
.my-events-section{
    
    width: 20%;
    height: 200%;
    margin-left: 12px;
    box-shadow: 1px 1px 5px;
    padding-bottom: 10px;
    margin-top: 0px;
    
}
.events{

    border: solid 1px transparent;
    background-color: #199de5;
    padding: 17px;
    padding-left: 4%;
}
.events .calendar-logo{
    display: inline;
    width: 1%;

    vertical-align: middle;
}
.events h5{
    display: inline;
color: white;
margin-left: 10px;
font-size: 15px;
}
.my-events-section p{
    padding-left: 20px;
    font-size: 15px;
}
/*  interests section*/

.interests-section{
    border:solid 2px transparent;
    width: 20%;
    margin-left: 12px;
    box-shadow: 1px 1px 5px;
    padding-bottom: 10px;

}

ul .blue {
    background-color: #076490;
    color: white;
    padding: 3px;
    border-style: none;
    width: 10%;
}

ul .skyblue{
    background-color: #199de5;
    color: white;
    padding: 3px;
    border-style: none;
}

ul .gray{
    background-color: rgb(194, 182, 182);
    color: black;
    border-style: none;
}

ul .grayish{
    background-color: rgb(225, 217, 217);
    color: black;
    border-style: none;
}

ul .light-gray{
    background-color: rgb(242, 239, 239);
    color: black;
    border-style: none;
}

/* Alert msg */
.alert-msg{
    border:solid 1px rgb(179, 179, 179);
    width: 20%;
    margin-left: 12px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: left;
    padding: 0 10px;
    background-color: #dfe5e8;
    border-radius: 5px;
    position: relative;
}
#hey{
    color:rgb(61, 61, 61);
    font-size: large;
}
.fas{
    color:black;
    border: none;
    font-size: 15px;
}
.close{
    background-color: #becbd2 ;
    position: absolute;
    right:0;
    top:0;
    padding: 9px 15px;
}
.close:hover{
    background-color: lightgrey;

}
